<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.plugin.sonos" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>SonosPlugin</name>
    <js-module name="SonosPlugin" src="www/SonosPlugin.js">
        <clobbers target="cordova.plugins.SonosPlugin" />
    </js-module>
    
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="SonosPlugin">
                <param name="ios-package" value="SonosPlugin" />
            </feature></config-file>
        <source-file src="src/ios/SonosPlugin.m" />
        <framework src= "src/ios/libicucore.A.dylib" custom="true"/>
        <header-file src="src/ios/GCD/GCDAsyncUdpSocket.h" custom="true"/>
        <source-file src="src/ios/GCD/GCDAsyncUdpSocket.m" custom="true"/>
        <header-file src="src/ios/CocoaAsyncSocket.h" custom="true"/>
        
        <header-file src="src/ios/GCD/GCDAsyncSocket.h" custom="true"/>
        <source-file src="src/ios/GCD/GCDAsyncSocket.m" custom="true"/>
        <framework src="CFNetwork.framework" />
        
        
    </platform>
    
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="SonosPlugin">
                <param name="android-package" value="cordova.plugin.sonos.SonosPlugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
        </config-file>
        <source-file src="src/android/SonosPlugin.java" target-dir="src/cordova/plugin/sonos/SonosPlugin" />
    </platform>
</plugin>
